.caracteristicas {
    margin-top: 140px;
    margin-bottom: 100px;

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .previews {
            border-radius: 5px;
            overflow: hidden;
            position: relative;

            .thumb {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                vertical-align: top;
                opacity: 0;         /** Se activara con JS la transición de las 4 imgs */
                transition: all 0.5s ease;

                &.active {          /** Clase que activa la opacidad de las imgs */
                    opacity: 1;
                }

            }
        }

        .tabs {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;

            .tab {
                background: #fff;
                display: grid;
                grid-template-columns: auto 1fr;
                gap: 10px;
                border-radius: 5px;
                cursor: pointer;
                /* overflow: hidden; */

                .icono {
                    align-self: center;
                    padding-left: 30px;
                    color: var(--azul-primario);
                    
                    svg {
                        width: 30px;
                        height: 30px;
                        
                    }
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 20px;
                }

                &.active {
                    background: var(--azul-primario);
                    color: #fff;
                    .icono {
                        color: #fff;
                    }
                }
            }
        }
    }
    @media screen and (max-width:1000px) {
        & {
            .icono {
                display: none;
            }
        }
    }
    @media screen and (max-width:768px){
        &  {
            margin-top: 40px;
            margin-bottom: 40px;
            .grid {
                grid-template-columns: 1fr;
                gap: 10px;
                
                .previews {
                    height: 400px;
                }
                
                .tabs {
                    grid-template-columns: 1fr 1fr;
                    
                }

            }
        }
    }
}